body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u171 {
  position:absolute;
  left:57px;
  top:83px;
  width:680px;
  height:86px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
